h2{
    text-align: center;
    border-radius: 5px;
    background-color: blueviolet;
}
#input{
    width: 100%;
    height: 25px;
    border-radius:5px;
    border: 1px solid #e2d8d8c4;
  }
#btn{
cursor: pointer;
margin-top: 10px;
} 
#inputs{
text-align: center;
margin-top: 10px;
height: 25px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
  }
  th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 8px;
    text-align: left;
  }
  td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #e0e0e0;
  }